// COLORS
$color-primary: #4B36DA;
$color-primary-darker: darken(#4B36DA, 20%);

$color-orange: #D94C36;
$color-green: #37DF48;
$color-pink: #BA42D8;

$color-grey: #211F22;
$color-grey-2: #292629;
$color-grey-dark: #1B191C;
$color-text-grey: #CECACF;
$color-text-grey-dark: #959096;

// GRADIENTS
$gradient-primary: linear-gradient(135deg, #F037C7 0%, #744BDE 50.52%, #4530E0 100%);
$gradient-pink: linear-gradient(138.16deg, #A524A8 8.49%, #6F1871 85.61%);
